<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="/">JjVisage</a>
  </span>
  <div class="spacer"></div>
    <a mat-button color="link" routerLink="addAppointment" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Rezervovať termín</a>
    <a mat-button color="link" routerLink="addPost" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Pridať príspevok</a>
    <a aria-label="JJ Visage on YouTube" target="_blank" rel="noopener" href="" title="YouTube">
      <img
        id="youtube-logo"
        width="20"
        alt="JjVisage Logo"
        src="../../../assets/jj-visage-icons/youtube-brands.svg"
      />
    </a>
    <a aria-label="JJ Visage on Facebook" target="_blank" rel="noopener" href="https://sk-sk.facebook.com/pages/category/Hair-Salon/Kadern%C3%ADctvo-JJ-Visage-1290197437690918/" title="Facebook">
      <img
        id="facebook-logo"
        width="20"
        alt="JjVisage Logo"
        src="../../../assets/jj-visage-icons/facebook-brands.svg"
      />
    </a>
    <a aria-label="JJ Visage on Instagram" target="_blank" rel="noopener" href="" title="Instagram">
      <img
        width="20"
        alt="JjVisage Logo"
        src="../../../assets/jj-visage-icons/instagram-brands.svg"
      />
    </a>
    <a aria-label="JJ Visage on Pinterest" target="_blank" rel="noopener" href="" title="Pinterest">
      <img
        id="pinterest-logo"
        width="20"
        alt="JjVisage Logo"
        src="../../../assets/jj-visage-icons/pinterest-brands.svg"
      />
    </a>
</mat-toolbar>
